<div class="page-title">
  <div class="title_left">
    <h3>Sensores de Temperatura</h3>
  </div>

  <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search" style="margin:0">
      <%= link_to new_temperature_sensor_path, class: 'btn btn-default pull-right', style: 'margin:0' do %>
        <i class="fa fa-plus"></i> Novo sensor
      <% end %>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="row" ng-controller="TemperatureSensorsCtrl">
  <p id="user_id" hidden><%= current_user.id %></p>

  <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="sensor in sensors">
    <div class="x_panel x_index">
      <div class="x_title">
        <h2><%= link_to "{{sensor.name}} - {{sensor.sensor_kind}}",  URI::unescape(temperature_sensor_path("{{sensor.id}}")) %></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <%= link_to URI::unescape(edit_temperature_sensor_path('{{sensor.id}}')) do %>
              <i class="fa fa-edit"></i>
            <% end %>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <div class="x_content">
        <div class="row">
          <div class="col-md-5 col-sm-5 col-xs-5">
            <div class="sidebar-widget" style="width: 120px;">
              <h4>Temperatura</h4>
              <div class="sensor-value">{{sensor.value}}°C</div>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="sidebar-widget" style="height: 136px;">
              <h4>Umidade</h4>
              <div class="sensor-value">{{sensor.humidity}}%</div>
            </div>
          </div>

          <div class="col-md-3 col-sm-3 col-xs-3" ng-if="sensor.sensor_kind == 'Refrigerador'">
            <div class="sidebar-widget" style="height: 136px;">
              <h4>Porta Aberta?</h4>
                {{sensor.status_door}}
          </div>
        </div>
      </div>
    </div>
  </div>


  <%= subscribe_to "/temperatures/#{current_user.id}/new" %>
</div>

