<div class="page-title">
  <div class="title_left">
    <h3>Pacientes</h3>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Detalhes do paciente</h2>
        <div class="clearfix"></div>
      </div>

      <div class="x_content">
        <div class="row">
          <div class="col-md-1 hidden-sm hidden-xs">
            <h1 style="text-align: center;">
              <i class="fa fa-user"></i>
            </h1>
          </div>
          <div class="col-md-11">
            <h2><%= @patient.name %></h2>
            <strong>Plano de Saúde:</strong> <%= @patient.health_plan.name %> <br>
            <strong>Área de Abastecimento:</strong> <%= "#{@patient.supply_area.number} | #{@patient.supply_area.name}" %><br>
            <strong>Nº Atendimento:</strong> <%= @patient.order_number %><br>
            <strong>Prescrição O2:</strong> <%= @patient.o2_prescription %><br>
            <strong>Período:</strong> <%= @patient.period %>
          
            <br>
            <br>

            <div>
              <%= link_to(edit_patient_path(@patient), class: 'btn btn-sm btn-default') do %>
                <i class="fa fa-edit"></i> Editar
              <% end%>
              <%= link_to(patient_path(@patient), class: 'btn btn-sm btn-default', method: :delete, data: { confirm: 'Você tem certeza?' }) do %>
                <i class="fa fa-trash"></i> Excluir
              <% end%>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>

</div>




